:root {
    --navbar-text-color: #5e5fbf;
    --navbar-bg-color: #f1f5f8;
    --navbar-text-color-focus: #5e5fbf;
    --navbar-bg-contrast: hsl(157, 9%, 82%);
}

.active {
    color: #fca61f !important;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
}

.logoImage {
    width: 60px;
    height: auto;
}

#navbar {
    --navbar-height: 64px;
    position: relative;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    font-family: sans-serif;
    display: flex;
    font-weight: 600;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.home-link:focus,
.home-link:hover {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
    color: #fca61f;
}

.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
}


#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        left 0.2s ease-in-out,
        right 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#navbar-menu.sidebar,
#navbar-menu.sidebar.left {
    left: -1000px;
    right: 0;
}

#navbar-menu.sidebar.right {
    right: -1000px;
    left: 0;
}

#navbar-menu.detached,
#navbar-menu.attached {
    left: 0;
    right: 0;
}

#navbar.opened #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

#navbar.opened #navbar-menu.sidebar.left {
    left: 0;
}

#navbar.opened #navbar-menu.sidebar.right {
    right: 0;
}

.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

.sidebar .navbar-links {
    top: 0;
    bottom: 0;
}

.left.sidebar .navbar-links {
    left: 0;
    right: unset;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.3);
}

.right.sidebar .navbar-links {
    right: 0;
    left: unset;
    box-shadow: -5px 20px 20px rgba(0, 0, 0, 0.3);
}

.detached .navbar-links {
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.attached .navbar-links {
    left: 0;
    right: 0;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.navbar-item {
    margin: 0.4em;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginSignup {
    font-size: medium;
    font-family: sans-serif;
    font-weight: 600;
    font-size: medium;
    padding: 5px 12px 5px 12px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    outline: none;
    border: 1.6px solid #5e5fbf;
    cursor: pointer;
    /* linear-gradient(105deg, #21bf92 46%, #5e5fbf 100%); */
    transition: 1s all ease-in-out;
    background: transparent;
}

.LoginSignup:hover,
.LoginSignup:focus {
    background-color: #5e5fbf;
    color: #ffffff;
}

.donation {
    font-size: medium;
    font-family: sans-serif;
    font-weight: 600;
    padding: 7px 12px 7px 12px;
    background-color: #f64f59;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    background: linear-gradient(90deg,
            #fca61f, #23d5ab,
            #fca61f, #23d5ab,

            #fca61f, #23d5ab,
            #fca61f, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.donation:hover {
    opacity: 0.6;
}

@media screen and (min-width: 700px) {
    .navbar-toggle {
        display: none;
    }

    #navbar #navbar-menu,
    #navbar.opened #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}

#options {
    display: flex;
    flex-direction: column;
}